<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Create Schema</h3>
        <hr>
        <form id="form">
          <div class="card">
            <div style="padding: 20px">
              <div id="formFields"></div>
              <div id="hot"></div>
            </div>
          </div>
          <br>
          <button id="create" type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const key = '{{handsontable}}';
</script>

<script type="text/javascript" src="../../public/scripts/schemas/create.js"></script>
