/* For table area. */

#expand-table-button {
  width: 100%;
  height: 35px;
  display: block;
  margin-top: 35px;
}

#expand-table-button:hover {
  background-color: #F3F3F3;
}

#download-json-area {
  margin-top: 30px;
  text-align:center;
  margin-bottom: 30px;
}

#tables-area h4 {
  margin-top: 30px;
}

#tables-area button {
  margin-top: -25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
}


/* For drop area. */

#drop-area {
  border: 3px dashed #CCC;
  border-radius: 8px;
  padding: 30px;
  background-color: #F0F0F0;
  transition: border-color 0.5s;
  text-align: center;
  display: block;
  vertical-align: middle;
  font-size: 22px;
  width: 100%;
}

#drop-area p {
  font-size: 13px;
  margin-top: 25px;
}

#drop-area button {
  margin-top: -25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
}

#drop-area.dragenter {
  border-color: #A6DE2A;
}

#drop-area.dragdefault {
  border-color: #666;
}
#choose-file {
  border: none;
  visibility: hidden;
}

/* Arrow down, from https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-down {
  background: transparent url('../../public/images/expand.png') no-repeat center;
  cursor: pointer;
}

.flip {
  transform: scaleY(-1);
}
